@import '_configs';

#content {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;

  .overflow {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    padding: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    @include breakpoint-range($to: tablet) {
      padding: 50px 15px;
    }

    #text {
      @include breakpoint-range($to: tablet) {
        text-align: center;
      }

      h1 {
        font-size: 36px;
        color: $component-color-yellow;
        font-weight: bold;
      }

      p {
        font-size: 20px;
        color: white;

        span {
          font-weight: bold;
          color: $component-color;
        }
      }
    }
  }
}
